@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
/* 1. Method */
input,
textarea {
    @apply border-2 border-gray-300 rounded-md px-1 w-full;
    @apply mb-2;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
    @apply border-blue-900;
}


/* 2. Method */
@layer components {
    .h1 {
        @apply text-blue-900 mb-2 text-xl;
    }

    .label {
        @apply text-blue-900 mb-2 text-sm;
    }

    .btn-primary {
        @apply bg-blue-900 text-white px-4 py-1 rounded-md;
    }

    .basicTable {
        @apply w-full;
    }

    .basicTable thead tr td {
        @apply bg-blue-100;
    }

    .basicTable tr td {
        @apply border border-blue-200 p-1;
    }

    .editLink {
        @apply bg-blue-900 text-white py-1 px-2 rounded-md inline-flex gap-1 items-center mr-2;
    }

    .btn-red {
        @apply bg-red-900 text-white px-4 py-1 rounded-md;
    }

    .btn-default {
        @apply bg-gray-200 text-gray-900 px-4 py-1 rounded-md;
    }
}